
<div class="container">
  <div class="row">
    <div class="col-md-8 offser-t-md-2">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Enrollment</h3>
        </div>
        <div class="card-body">
          <form>
           <div class="form-group">
             <label for="courseId">Course:</label>
             <select id="courseId" name="courseId" [(ngModel)]="model.courseId" class="form-control">
              <option *ngFor="let course of courses" value="{{course.id}}">{{course.title}}</option>
              </select>
           </div>

           <div class="form-group">
            <label for="studentId">Student:</label>
            <select id="studentId" name="studentId" [(ngModel)]="model.studentId" class="form-control">
              <option *ngFor="let student of students" value="{{student.id}}">{{student.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="paidTotal">Paid Total</label>
            <input type="text" class="form-control" id="paidTotal" name="paidTotal" [(ngModel)]="model.paidTotal"/>
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="addEnrollment()">Enroll</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
