
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Create New Course</h3>
        </div>
        <div class="card-body">
          <form>
           <div class="form-group">
             <label for="title">Title</label>
             <input type="text" id="title" name="title" [(ngModel)]="model.title" class="form-control">
           </div>

           <div class="form-group">
            <label for="price">Price</label>
            <input type="text" id="price" name="price" [(ngModel)]="model.price" class="form-control">
          </div>

          <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text" id="tags" name="tags" [(ngModel)]="model.tags" class="form-control">
          </div>

          <div class="form-group">
            <label for="totalStudentsEnrolled">TotalStudentsEnrolled</label>
            <input type="text" id="totalStudentsEnrolled" name="totalStudentsEnrolled" [(ngModel)]="model.totalStudentsEnrolled" class="form-control">
          </div>

          <div class="form-group">
            <label for="publishDate">PublishDate</label>
            <input type="text" id="publishDate" name="publishDate" [(ngModel)]="model.publishDate" class="form-control">
          </div>

          <div class="form-group">
            <label for="totalLecturesCount">TotalLecturesCount</label>
            <input type="text" id="totalLecturesCount" name="totalLecturesCount" [(ngModel)]="model.totalLecturesCount" class="form-control">
          </div>

          <div class="form-group">
            <label for="subTitle">SubTitle</label>
            <input type="text" id="subTitle" name="subTitle" [(ngModel)]="model.subTitle" class="form-control">
          </div>

          <div class="form-group">
            <label for="courseSummary">CourseSummary</label>
            <input type="text" id="courseSummary" name="courseSummary" [(ngModel)]="model.courseSummary" class="form-control">
          </div>
          <div class="form-group">
            <label for="courseShortDescription">CourseShortDescription</label>
            <input type="text" id="courseShortDescription" name="courseShortDescription" [(ngModel)]="model.courseShortDescription" class="form-control">
          </div>

          <div class="form-group">
            <label for="language">Language</label>
            <input type="text" id="language" name="language" [(ngModel)]="model.language" class="form-control">
          </div>

          <div class="form-group">
            <label for="achieve">Achieve</label>
            <input type="text" id="achieve" name="achieve" [(ngModel)]="model.achieve" class="form-control">
          </div>

          <div class="form-group">
            <label for="requirements">Requirements</label>
            <input type="text" id="requirements" name="requirements" [(ngModel)]="model.requirements" class="form-control">
          </div>
          <div class="form-group">
            <label for="fullDescription">FullDescription</label>
            <input type="text" id="fullDescription" name="fullDescription" [(ngModel)]="model.fullDescription" class="form-control">
          </div>
          <div class="form-group">
            <label for="teacherId">Teacher </label>
            <select id="teacherId" name="teacherId" [(ngModel)]="model.teacherId" class="form-control">
              <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.name}}</option>
              </select>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="save()">Create</button>
          </div>
          <br/>
          <div class="text-right">
              <a class="btn btn-primary btn-block" href="/all-course">Back To Courses</a>
            </div>
  

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


